/* src/styles/globals.css */

/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles (if any) */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a202c; /* dark gray background by default */
  color: #edf2f7;            /* light text */
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
